<header>
<img src="" alt="">
<app-preorder-button [btnBgColor]="button[0].btnBgColor" [btnColor]="button[0].btnColor" [btnBgHovColor]="button[0].btnBgHovColor" [btnHovColor]="button[0].btnHovColor"/>
</header>
<div class="left">
<h1></h1>
<p></p>
<app-preorder-button [btnBgColor]="button[1].btnBgColor" [btnColor]="button[1].btnColor" [btnBgHovColor]="button[1].btnBgHovColor" [btnHovColor]="button[1].btnHovColor"/>
<span>Release on 5/27</span>
</div>
<div class="right">
  <img src="" alt="">
</div>
<div class="image-flex">
<img src="" alt="">
<img src="" alt="">
<div class="keyboard">
<h2></h2>
<p></p>
</div>
</div>

<div class="grid-container">
@for (card of cards; track card.feature){
  <app-features-card [src]="card.images.src" [alt]="card.images.alt" [feature]="card.feature" [description]="card.description"/>
}
</div>
<footer>Typemaster 2021  |  All Rights Reserved</footer>