@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'barlow', sans-serif;
  --btn1-blank: #e8eff2;
  --paragraph: #7b8bad;
  --heading-btn1Hover-btn1Text: #162542;
  --btn2-Icon: #f16718;
  --btn2Hover: #ff9b62;
  --btn2Text-btn1HoverText: #FFFFFF; 
}

/* medium is font-weight 500
black is font-weight 900 */
